{% extends '_base.html' %}

{% block title %}{{ user.username }}'s profile{% endblock title %}



{% block content %}
    <div>
        <h1>{{ user.username }}'s profile</h1>

        <ul>

                <li>first name:{{ user.first_name }}</li>




                <li>last name:{{ user.last_name }}</li>



                <li>favorite music:{{ user.get_favorite_musics_display }}</li>



                <li>favorite music:{{ user.get_favorite_instrument_display }}</li>

            <a href="{% url 'update_profile' user.pk %}" class="btn btn-info mt-3 mb-3">Edit profile</a>
            <li><a href="{% url 'account_set_password' %}" class="btn btn-danger">change password</a></li>
        </ul>
    </div>












{% endblock content %}